:host, .container {
  display: block;
  height: 100%;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-size: larger;
}

.container {
  max-width: 600px;
}

.controls {
  height: 120px;
}

.sequence {
  height: calc(100% - 120px);
  overflow: auto;
}

.label {
  font-style: italic;
}

.bold {
 font-weight: bold;
}

label {
  margin-right: 16px;
}

button {
  width: 100%;
}

.back {
  text-align: left;
  width: auto;
}