<h2>Player</h2>
<section>
  <select [(ngModel)]="selectedVoice">
    <option
      *ngFor="let voice of voices"
      [ngValue]="voice.dataName">
      {{ voice.displayName }}</option>
  </select>
  <div class="controls">
    <button (click)="startSequence()" *ngIf="!playing">Start</button>
    <button (click)="stopSequence()" *ngIf="playing">Stop</button>
  </div>

  <div *ngIf="sequence">
    <div
      *ngFor="let node of sequence, let i = index"
      class="node-container"
      >
      <div>
        {{ node.name }}
      </div>
    </div>
  </div>
</section>