<input
  type="text"
  [(ngModel)]="pose.name"
  (keydown.enter)="addPose()"
  placeholder="Pose name"
  >
<button (click)="addPose()">Add Pose</button>

<div>
  <select [(ngModel)]="pose.sides">
    <option ngValue="unilateral">unilateral</option>
    <option ngValue="bilateral">bilateral</option>
  </select>
  <input
    class="breaths"
    type="text"
    [(ngModel)]="pose.breaths"
    (keydown.enter)="addPose()"
    placeholder="Duration"
    >
  <select [(ngModel)]="pose.timing">
    <option ngValue="breaths">breaths</option>
    <option ngValue="duration">seconds</option>
  </select>
</div>
