<section *ngIf="target">
  <div *ngIf="target.type === 'root'">
    <div class="header">
      <h1>Sequence</h1>
      <div class="row">
        <div class="col-2">
          <label>Name</label>
        </div>
        <div class="col">
          <input [(ngModel)]="target.name" />
        </div>
      </div>
    </div>

    <h2>Add Element</h2>
    <div *ngIf="target.type === 'root'">
      <div class="row">
        <div class="col-2">
          <label class="detail-label">Type</label>
        </div>
        <div class="col">
          <div myButtonBar [(value)]="newNodeType">
            <span myRadioValue="pose">Pose</span>
            <span myRadioValue="series">Series</span>
          </div>
        </div>
      </div>

      <app-pose-detail *ngIf="newNodeType === 'pose'"></app-pose-detail>

      <app-series-detail *ngIf="newNodeType === 'series'">
      </app-series-detail>

      <button class="btn btn-primary">Add {{newNodeType}}</button>
    </div>

  </div>

  <app-series-detail
    *ngIf="target.type === 'series'"
    [target]="target">
  </app-series-detail>

  <app-pose-detail *ngIf="target.type === 'pose'"
    [target]="target">
  </app-pose-detail>

</section>

