<div class="list-wrapper">
  <div class="list-group">
    <div
      class="btn-outline-primary list-group-item"
      (click)="addSequence()">
      Create Sequence
    </div>
    <div
      *ngFor="let sequence of sequences | reverse"
      class="list-group-item"
      [class.active]="target && target.id === sequence.id"
      [routerLink]="'/app/sequence/' + sequence.id"
      >
      {{ sequence.name }}
    </div>
  </div>
</div>

<div class="sequence-container" *ngIf="target">
  <div class="button-container">
    <button class="btn btn-success" routerLink="play">Play Sequence</button>
    <button class="btn btn-primary" routerLink="edit">Edit Sequence</button>
    <button class="btn btn-warning" (click)="cloneSequence()">Clone Sequence</button>
  </div>
  <div class="sequence-wrapper">
    <app-sequence [target]="target"></app-sequence>
  </div>
</div>
