:host {
  display: block;
  position: absolute;
  top: 48px;
  bottom: 0;
}

.list-wrapper {
  float: left;
  width: 250px;
  height: 100%;
  overflow-y: auto;
}

.sequence {
  float: left;
  margin-left: 48px;
}


.list-group-item:hover {
  background-color: #0275d8;
  border-color: #0275d8;
  color: white;
}

