<div class="row">
  <div class="col-2">
    <div *ngFor="let sequence of sequences">
      <div [routerLink]="'/sequence/' + sequence.id">
        {{ sequence.name }}
      </div>
    </div>
    <button
      class="btn btn-primary"
      (click)="addSequence()">
      Add Sequence
    </button>
  </div>

  <div class="col">
    <div *ngIf="target">
      <app-sequence [target]="target"></app-sequence>
      <button class="btn btn-primary" routerLink="edit">Edit Sequence</button>
    </div>
  </div>
</div>
