:host {
  display: block;
  position: absolute;
  top: 48px;
  bottom: 0;
}

.list-wrapper {
  float: left;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  padding-left: 48px;
}

.sequence-container {
  float: left;
  margin-left: 48px;
  height: 100%;
}


.list-group-item:hover {
  background-color: #0275d8;
  border-color: #0275d8;
  color: white;
}

.button-container {
  margin-bottom: 12px;
}

.sequence-wrapper {
  height: calc(100% - 50px);
  overflow: auto;
}