:host {
  display: block;
  height: 100%;
}

.container {
  text-align: center;
  position: relative;
  padding-top: 450px;
  height: 100%;
  background-image: url('assets/yogatalk-low.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}