<nav class="container">
  <div class="brand">YOGA TALK</div>
</nav>

<div class="hero">
  <div class="title">YOGA TALK</div>
  <div class="subtitle">Amplify your home practice</div>
  <button
    class="btn btn-primary"
    (click)="loginGoogle()"
    >Sign-in with Google
  </button>

  <div class="beta">
    BETA
  </div>
</div>

<div class="content container">
  <div class="row justify-content-md-center">
    <div class="col-sm col-md-8">
      <h1>Create And Follow Your Own Sequences</h1>
      <p>
        Yoga Talk helps you create customized sequences and then announces each pose.
      </p>
      <div class="row">
        <ul class="col-sm-6">
          <li>Plan your sequence and practice it</li>
          <li>Pick poses that work for you</li>
        </ul>
        <ul class="col-sm-6">
          <li>Challenge yourself at your own pace</li>
          <li>Evolve and organize your sequences</li>
        </ul>
      </div>

      <h1>Beta Release</h1>
      <p>Yoga Talk is still in its beta stage. The basic functionality is there but there is much room for improvement. I would love to hear about your experience. Please email me at yoga@shunicorn.com.</p>

      <h1>Technical Requirements</h1>
      <p>This site performs best on a Mac using the latest version of Chrome. You may need to disable Power Savings to prevent your computer from going to sleep.</p>
    </div>
  </div>
</div>

<footer class="text-center">
  Copyright &copy; Shu Liu 2017
</footer>