<section>
  <div class="header">
    <h4>Name</h4>
    <input [(ngModel)]="node.name" />
  </div>

  <div *ngIf="node.type === 'pose'">
    <div>
      <select [(ngModel)]="node.sides">
        <option ngValue="unilateral">left &amp; right</option>
        <option ngValue="bilateral" *ngIf="type!=='node'">bilateral</option>
      </select>
      <input
        class="breaths"
        type="text"
        [(ngModel)]="node.breaths"
        placeholder="Duration"
        >
      <select [(ngModel)]="node.timing">
        <option ngValue="breaths">breaths{{ node.sides==='unilateral' ? ' each side' : null }}</option>
        <option ngValue="duration">seconds{{ node.sides==='unilateral' ? ' each side' : null }}</option>
      </select>
    </div>

    <button (click)="savePose()">Save</button>
    <button (click)="deletePose()">Delete</button>
  </div>

  <div *ngIf="node.type !== 'pose'">
    <h4>Add Element</h4>

    <div *ngIf="node.type === 'root'">
      <label class="button-bar-label">Type</label>
      <div myButtonBar [(value)]="type">
        <span myRadioValue="pose">Pose</span>
        <span myRadioValue="series">Series</span>
      </div>

      <app-new-pose
        *ngIf="type === 'pose'"
        (add)="addPose($event)"
        ></app-new-pose>

      <app-new-series
        *ngIf="type === 'series'"
        (add)="addSeries($event)"
        ></app-new-series>
    </div>

    <div *ngIf="node.type === 'series'">
      <select [(ngModel)]="type">
        <option ngValue="pose">Pose</option>
        <option ngValue="transition1">1st Transition</option>
        <option ngValue="transition2">2nd Transition</option>
      </select>
      <app-new-pose
        [type]="type"
        (add)="addPose($event)"
        ></app-new-pose>
    </div>
  </div>
</section>

