<section *ngIf="target">
  <div class="header">
    <h4>Name</h4>
    <input [(ngModel)]="target.name" />
  </div>

  <div *ngIf="target.type === 'pose'">
    <div>
      <select [(ngModel)]="target.sides">
        <option ngValue="unilateral">left &amp; right</option>
        <option ngValue="bilateral" *ngIf="type!=='node'">bilateral</option>
      </select>
      <input
        class="breaths"
        type="text"
        [(ngModel)]="target.breaths"
        placeholder="Duration"
        >
      <select [(ngModel)]="target.timing">
        <option ngValue="breaths">breaths{{ target.sides==='unilateral' ? ' each side' : null }}</option>
        <option ngValue="duration">seconds{{ target.sides==='unilateral' ? ' each side' : null }}</option>
      </select>
    </div>

    <button (click)="savePose()">Save</button>
    <button (click)="deletePose()">Delete</button>
  </div>

  <div *ngIf="target.type !== 'pose'">
    <h4>Add Element</h4>

    <label class="detail-label">Name</label>
    <input [(ngModel)]="name" (keydown.enter)="addNode()">

    <div *ngIf="target.type === 'root'">
      <div>
        <label class="detail-label">Type</label>
        <div myButtonBar [(value)]="nodeType">
          <span myRadioValue="pose">Pose</span>
          <span myRadioValue="series">Series</span>
        </div>
      </div>

      <app-new-pose
        *ngIf="nodeType === 'pose'"
        [name]="name"
        (add)="addPose($event)"
        ></app-new-pose>

      <app-new-series
        *ngIf="nodeType === 'series'"
        (add)="addSeries($event)"
        [name]="name"
        ></app-new-series>
    </div>

    <div *ngIf="target.type === 'series'">
      <label class="detail-label">Type</label>
      <div myButtonBar [(value)]="nodeType">
        <span myRadioValue="pose">Pose</span>
        <span myRadioValue="transition1">1st Transition</span>
        <span myRadioValue="transition2">2nd Transition</span>
      </div>

      <app-new-pose
        [name]="name"
        [type]="nodeType"
        (add)="addPose($event)"
        ></app-new-pose>
    </div>
  </div>
</section>

