<div class="main-container row">
  <div class="sequence col">
    <div class="content">
      <app-sequence
        [target]="sequence"
        [editable]="true"
        [showDetails]="showDetails"
        ></app-sequence>
    </div>
    <div class="footer row left-side">
      <div class="col">
        <button
          class="btn btn-outline-primary"
          (click)="toggleDetails()"
          >Toggle Details</button>
      </div>
      <div class="col">
        <button
          class="btn btn-primary"
          routerLink="../preview"
          >Preview Sequence</button>
      </div>
    </div>
  </div>

  <div class="editor col" *ngIf="target">
    <div class="content">
      <app-sequence-detail
        *ngIf="target.type === 'sequence'"
        [target]="target"
        [sortRoot]="sortRoot"
        (sort)="toggleSort($event)"
        (deleteSequence)="deleteSequence($event)"
        >
      </app-sequence-detail>

      <div class="row crumbs" *ngIf="target.type !== 'sequence'">
        <button
          class="btn btn-sm btn-link"
          (click)="resetEditNode()"
          >Back to Sequence</button>
      </div>

      <app-series-detail
        *ngIf="target.type === 'series'"
        [target]="target"
        [sortRoot]="sortRoot"
        (sort)="toggleSort($event)"
        (addPose)="addSeriesNode($event)"
        (deleteSeries)="deleteSeries($event)"
        >
      </app-series-detail>

      <app-pose-detail
        *ngIf="target.type === 'pose'"
        [target]="target"
        (deletePose)="deletePose($event)"
        >
      </app-pose-detail>

    </div>
    <div class="footer right-side">
      <button class="btn btn-success" (click)="saveSequence()">Save Sequence</button>
      <button class="btn btn-secondary" (click)="finish()">Done</button>
    </div>
  </div>
</div>