<button class="btn btn-link" routerLink="../">Back to Sequences</button>
<div class="row">
  <div class="col">
    <app-sequence
      [target]="sequence"
      ></app-sequence>
  </div>
  <div class="col" *ngIf="target">
    <app-sequence-detail
      *ngIf="target.type === 'sequence'"
      [target]="target"
      [sortRoot]="sortRoot"
      (sort)="toggleSort($event)"
      (deleteSequence)="deleteSequence($event)"
      >
    </app-sequence-detail>

    <app-series-detail
      *ngIf="target.type === 'series'"
      [target]="target"
      [sortRoot]="sortRoot"
      (sort)="toggleSort($event)"
      (addPose)="addSeriesNode($event)"
      (deleteSeries)="deleteSeries($event)"
      >
    </app-series-detail>

    <app-pose-detail
      *ngIf="target.type === 'pose'"
      [target]="target"
      (deletePose)="deletePose($event)"
      >
    </app-pose-detail>
  </div>
</div>