:host {
  display: block;
  height: 100%;
}

.main {
  height: calc(100% - 62px) !important;
  margin: 0;
}

.panel {
  width: 550px;
}

.editor {
  padding-left: 24px;
  height: 100%;
}

.sequence {
  padding: 24px;
  background-color: #eee;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

footer .col {
  padding: 0;
}

.crumbs button {
  width: 100%;
}