<div class="row">
  <div class="editor" *ngIf="target">
    <app-sequence-detail
      *ngIf="target.type === 'sequence'"
      [target]="target"
      [sortRoot]="sortRoot"
      (sort)="toggleSort($event)"
      (deleteSequence)="deleteSequence($event)"
      >
    </app-sequence-detail>

    <app-series-detail
      *ngIf="target.type === 'series'"
      [target]="target"
      [sortRoot]="sortRoot"
      (sort)="toggleSort($event)"
      (addPose)="addSeriesNode($event)"
      (deleteSeries)="deleteSeries($event)"
      >
    </app-series-detail>

    <app-pose-detail
      *ngIf="target.type === 'pose'"
      [target]="target"
      (deletePose)="deletePose($event)"
      >
    </app-pose-detail>

    <div class="button-container">
      <button class="btn btn-success">Save Sequence</button>
      <button class="btn btn-secondary" routerLink="../">Cancel</button>
    </div>

  </div>
  <div class="col sequence">
    <app-sequence
      [target]="sequence"
      ></app-sequence>
  </div>
</div>