:host {
  display: block;
  height: 100%;
}

.main {
  height: calc(100% - 62px) !important;
  margin: 0;
  padding-left: 24px;
}

.left-panel {
  width: 520px;
}

.right-panel {
  width: 540px;
  margin-left: 24px;
}

.sequence {
  border-bottom: 1px solid #ccc;
}

.editor {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-left: 24px;
}

footer .col {
  padding: 0;
}

.left-buttons {
  margin: 0;
}

.left-buttons button {
  width: 100%;
}

.left-buttons .col:first-child {
  margin-right: 6px;
}

.left-buttons .col:last-child {
  margin-left: 6px;
}

.crumbs button {
  width: 100%;
}