.button-container {
  margin-bottom: 12px;
}

.button-container .col:first-child {
  padding-left: 0;
  padding-right: 6px;
}

.button-container .col:last-child {
  padding-left: 6px;
  padding-right: 0;
}

button {
  width: 100%;
}

.wrapper {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.name {
  margin-bottom: 0;
}