<h1>Sequence</h1>
<div class="row">
  <div class="col-2">
    <label>Name</label>
  </div>
  <div class="col">
    <input [(ngModel)]="target.name" (ngModelChange)="showSave()">
  </div>
</div>

<div class="button-container">
  <button
    class="btn"
    (click)="sort.emit(target)"
    [class.btn-secondary]="sortRoot !== 'sequence'"
    [class.btn-success]="sortRoot === 'sequence'"
    >Reorder Poses</button>
</div>

<h2>Add Element</h2>
<div class="row">
  <div class="col-2">
    <label class="detail-label">Type</label>
  </div>
  <div class="col">
    <div myButtonBar [(value)]="newNodeType">
      <span myRadioValue="pose">Pose</span>
      <span myRadioValue="series">Series</span>
    </div>
  </div>
</div>

<app-pose-detail *ngIf="newNodeType === 'pose'"></app-pose-detail>

<app-series-detail *ngIf="newNodeType === 'series'">
</app-series-detail>

<button
  (click)="addRootNode()"
  class="btn btn-primary">Add {{newNodeType}}</button>