header {
  text-align: right;
  height: 60px;
  background-color: white;
}

header span {
  vertical-align: middle;
}

.container {
  height: 100%;
}

.main {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 12px;
  right: 12px;
}