:host {
  display: block;
  margin-bottom: 20px;
  height: 100%;
  overflow: auto;
}

.title {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: bold;
}

.duration {
  cursor: auto;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}