<div *ngIf="target">
  <h2
    (click)="editNode(target)"
    [class.active]="selectedNode && selectedNode.type === target.type && selectedNode.id === target.id"
    >{{ target.name }}</h2>

  <div
    dnd-sortable-container
    [sortableData]="target.nodes"
    [dropZones]="['sequence-dropZone']">
    <div
      *ngFor="let node of target.nodes, let i = index"
      class="node-container"
      dnd-sortable
      [sortableIndex]="i"
      [dragEnabled]="sortRoot === 'sequence'"
      >
      <div [ngSwitch]="node.type">

        <div *ngSwitchCase="'pose'">
          <app-pose
            [target]="node"
            >
          </app-pose>
        </div>

        <div *ngSwitchCase="'series'">
          <app-series
            [target]="node"
            [dragEnabled]="sortRoot === 'series'"
            >
          </app-series>
        </div>
      </div>
    </div>
  </div>
</div>
