<div *ngIf="target">
  <h2
    [myEditable]="editable"
    [target]="target"
    style="cursor: pointer;"
    >{{ target.name }}</h2>

  <div
    dnd-sortable-container
    [sortableData]="target.nodes"
    [dropZones]="['sequence-dropZone']">
    <div
      *ngFor="let node of target.nodes, let i = index"
      class="node-container"
      dnd-sortable
      [sortableIndex]="i"
      [dragEnabled]="sortRoot === 'sequence'"
      [myEditable]="editable"
      [target]="node"
      [class.alternate]="node.type === 'pose' && i % 2"
      >
      <app-pose
        *ngIf="node.type === 'pose'"
        [target]="node"
        [showDetails]="showDetails"
        >
      </app-pose>

      <app-series
        *ngIf="node.type === 'series'"
        [target]="node"
        [dragEnabled]="sortRoot === 'series'"
        [editable]="editable"
        [showDetails]="showDetails"
        >
      </app-series>
    </div>
  </div>
</div>
