<div>
  <h4
    (mouseenter)="hover=true"
    (mouseleave)="hover=false"
    (click)="selectSeries.emit()"
    >
    {{ node.name }}
  </h4>
</div>

<ol
  dnd-sortable-container
  [sortableData]="node.nodes"
  [dropZones]="['series-dropZone']">
  <li
    *ngFor="let pose of node.nodes, let i = index"
    dnd-sortable
    [effectCursor]="none"
    [sortableIndex]="i"
    [dragEnabled]="dragEnabled"
    (onDragStart)="sortStart.emit()"
    (onDragEnd)="sortEnd.emit()"
    >
    <app-pose
      [pose]="pose"
      [currentId]="currentId"
      (click)="selectPose.emit(pose)"
      ></app-pose>
  </li>
</ol>

<div *ngIf="node.firstTransitions && node.firstTransitions.length">
  1st side transition:
  <span *ngFor="let pose of node.firstTransitions">
    <app-pose [pose]="pose" [currentId]="currentId"></app-pose>
  </span>
</div>

<div *ngIf="node.secondTransitions && node.secondTransitions.length">
  2nd side transition:
  <span *ngFor="let pose of node.secondTransitions">
    <app-pose [pose]="pose" [currentId]="currentId"></app-pose>
  </span>
</div>