<div>
  <h4 [myEditable]="editable" [target]="target">
    {{ target.name }}
  </h4>
</div>

<div
  dnd-sortable-container
  [sortableData]="target.poses"
  [dropZones]="['series-dropZone']">
  <div
    *ngFor="let pose of target.poses, let i = index"
    dnd-sortable
    [effectCursor]="none"
    [sortableIndex]="i"
    [dragEnabled]="dragEnabled"
    [myEditable]="editable"
    [target]="pose"
    >
    <app-pose [target]="pose"></app-pose>
  </div>
</div>

<div class="transitions">
  <div *ngIf="target.firstTransitions && target.firstTransitions.length">
    <div
      *ngFor="let pose of target.firstTransitions"
      [myEditable]="editable"
      [target]="pose"
      >
      <strong>Left trans:</strong>
      <app-pose [target]="pose"></app-pose>
    </div>
  </div>

  <div *ngIf="target.secondTransitions && target.secondTransitions.length">
    <div
      *ngFor="let pose of target.secondTransitions"
      [myEditable]="editable"
      [target]="pose"
      >
      <strong>Right trans:</strong>
      <app-pose [target]="pose"></app-pose>
    </div>
  </div>
</div>