<section>
  <h2 (click)="selectSeries.emit('root')">Sequence</h2>
  Edit Series <input type="checkbox" [(ngModel)]="dragOperation"/>

  <div
    dnd-sortable-container
    [sortableData]="sequence"
    [dropZones]="['sequence-dropZone']">
    <div
      *ngFor="let node of sequence, let i = index"
      class="node-container"
      dnd-sortable
      [sortableIndex]="i"
      [dragEnabled]="!dragOperation"
      (onDragStart)="handleDragStart()"
      (onDragEnd)="handleDragEnd()"
      >
      <div [ngSwitch]="node.type">

        <div *ngSwitchCase="'pose'">
          <app-pose
            [pose]="node"
            [currentId]="currentPoseId"
            >
          </app-pose>
        </div>

        <div *ngSwitchCase="'series'">
          <app-series
            [node]="node"
            [currentId]="currentPoseId"
            [dragEnabled]="dragOperation"
            (selectSeries)="selectSeries.emit($event)"
            (editSeries)="dragOperation=!dragOperation"
            (sortStart)="handleDragStart()"
            (sortEnd)="handleDragEnd()"
            >
          </app-series>
        </div>
      </div>
    </div>
  </div>
</section>


