<section>
  <h2 (click)="selectSeries.emit('root')">Sequence</h2>

  <div
    *ngFor="let node of sequence"
    class="node-container"
    >
    <div [ngSwitch]="node.type">

      <div *ngSwitchCase="'pose'">
        <app-pose
          [pose]="node"
          [currentId]="currentPoseId"
          >
        </app-pose>
      </div>

      <div *ngSwitchCase="'series'">
        <app-series
          [id]="node.id"
          [name]="node.name"
          [poses]="node.nodes"
          [firstTransitions]="node.firstTransitions"
          [secondTransitions]="node.secondTransitions"
          [currentId]="currentPoseId"
          (selectSeries)="selectSeries.emit($event)"
          >
        </app-series>
      </div>
    </div>
  </div>
</section>