<div [class.wrapper]="target">
  <div *ngIf="target">
    <h1>Edit Pose</h1>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Name</label>
    </div>
    <div class="col">
      <input [(ngModel)]="pose.name" placeholder="Pose name">
    </div>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Sides</label>
    </div>
    <div class="col">
      <div myButtonBar [(value)]="pose.sides" (valueChange)="saveChanges()">
        <span myRadioValue="unilateral">Left &amp; Right</span>
        <span myRadioValue="bilateral" *ngIf="!unilateralOnly">Bilateral</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Duration</label>
    </div>
    <div class="col">
      <input
        class="breaths"
        type="text"
        [(ngModel)]="pose.duration"
        (keydown.enter)="addPose()"
        placeholder="Duration"
        >

      <div myButtonBar [(value)]="pose.timing">
        <span myRadioValue="breaths">Breaths</span>
        <span myRadioValue="minutes">Minutes</span>
      </div>
    </div>
  </div>
</div>

<div class="button-container" *ngIf="target">
  <button class="btn btn-outline-danger" (click)="deletePose.emit(pose)">Delete Pose</button>
</div>