<div [class.wrapper]="target">
  <div *ngIf="target">
    <h3>Edit Pose</h3>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Name</label>
    </div>
    <div class="col">
      <input
        [(ngModel)]="pose.name"
        placeholder="Pose name"
        (keydown.enter)="addPose.emit()"
        >
    </div>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Duration</label>
    </div>
    <div class="col">
      <input
        class="breaths"
        type="text"
        [(ngModel)]="pose.duration"
        placeholder="Duration"
        >

      <div myButtonBar [(value)]="pose.timing">
        <span myRadioValue="breaths">Breaths</span>
        <span myRadioValue="rounds">Rounds</span>
        <span myRadioValue="minutes">Minutes</span>
      </div>
      <span class="btn-link" (click)="setDefault('duration')">set default</span>
    </div>
  </div>

  <div class="row" *ngIf="pose.timing !== 'minutes'">
    <div>
      <label class="detail-label">Speed</label>
    </div>
    <div class="col">
      <input
        class="breaths"
        type="text"
        [(ngModel)]="pose.speed"
        placeholder="Duration"
        >
      seconds per {{ pose.timing.substring(0, pose.timing.length - 1) }}
      {{ pose.timing === 'rounds' ? ' (abs: 30, suns: 60)' : '' }}
      <span class="btn-link" (click)="setDefault('speed')">set default</span>
    </div>
  </div>

  <div class="row">
    <div>
      <label>Add release cue</label>
    </div>
    <div class="col">
      <input type="checkbox" [(ngModel)]="pose.release">
    </div>
  </div>

  <div class="row">
    <div>
      <label class="detail-label">Repeat</label>
    </div>
    <div class="col">
      <div myButtonBar [(value)]="pose.repeat" (valueChange)="saveChanges()">
        <span
          myRadioValue="once"
          *ngIf="!pose.seriesPose || this.pose.timing === 'rounds'"
          >Once</span>
        <span
          myRadioValue="both"
          *ngIf="pose.timing !== 'rounds'"
          >Both Sides</span>
      </div>
    </div>
  </div>

</div>

<div class="button-container" *ngIf="target">
  <button class="btn btn-sm btn-outline-danger" (click)="deletePose.emit(pose)">Delete Pose</button>
</div>