<div class="row" *ngIf="!target">
  <div class="col-2">
    <label class="detail-label">Name</label>
  </div>
  <div class="col">
    <input [(ngModel)]="series.name" placeholder="Series name" />
  </div>
</div>

<div *ngIf="target">
  <h1>Series</h1>
  <div class="row">
    <div class="col-2">
      <label class="detail-label">Name</label>
    </div>
    <div class="col">
      <input [(ngModel)]="target.name" placeholder="Series name" />
    </div>
  </div>

  <div class="button-container">
    <button
      class="btn"
      (click)="sort.emit(series)"
      [class.btn-secondary]="sortRoot !== 'series'"
      [class.btn-success]="sortRoot === 'series'"
      >Reorder Poses</button>
    <button class="btn btn-danger" (click)="delete.emit(series)">Delete Series</button>
  </div>

  <h2>Add Element</h2>
  <div class="row">
    <div class="col-2">
      <label class="detail-label">Type</label>
    </div>
    <div class="col">
      <div myButtonBar [(value)]="newNodeType">
        <span myRadioValue="pose">Pose</span>
        <span myRadioValue="transition1">Left Transition</span>
        <span myRadioValue="transition2">Right Transition</span>
      </div>
    </div>
  </div>

  <app-pose-detail
    [unilateralOnly]="newNodeType === 'pose'"
    (add)="onPoseAction($event)"
    ></app-pose-detail>

  <button class="btn btn-primary">Add Pose</button>


</div>
